body{
  background-color: white;
}

.container{
  width: 1170px;
  margin: auto;
}

.navbar{
  background-color: #999;
  overflow: hidden;
}

.logo{
  width: 30%;
  float: left;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.navbar-links{
  width: 70%;
  float: right;
}

ul{
  text-align: center;
}

ul li{
  display: inline;
  padding-left:15px ;
  font-size: 20px;
  
}

ul li a{
  text-decoration: none;
  color: white;
}